body {
    background-color: #f8f9fa;
}

.container {
    max-width: 900px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.img-fluid {
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.result-section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 10pt;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.download-btn {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: #218838;
}

.row {
    margin-top: 30px;
}

.spinner {
    display: none;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.custom-file-label {
    font-size: 1.2rem;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.custom-file-input:focus~.custom-file-label,
.custom-file-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-block {
    display: block;
    width: 100%;
}

.rounded-pill {
    border-radius: 50px;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.shadow-lg {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Centering the form */
.mt-4.mx-auto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.centerdiv .row {
    width: 100%;
    max-width: 420px;
    justify-content: center;
}
.centerdiv input[type="color"] {
    width: 100%;
    margin-top: 4px;
}
.custom-file-label {
    text-align: left;
}
.centerdiv .custom-file {
    width: 100%;
    margin-top: 10px;
}
.centerdiv button {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.btn-remove-bg {
    width: 55% !important; 
    font-size: 13pt;
}

.navbar {
    margin-bottom: 0px ;
    background-color: #f8f9fa !important;
    color: black !important;
    border: none !important;
    padding: 7px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
}
.title{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.779) !important;

}
.spinner {
    display: none;
}